In [1]:
import os
import django

os.environ["DJANGO_SETTINGS_MODULE"] = "config.settings"
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

django.setup()

In [6]:
from app1.models import Person

# 삽입
# 모델 객체 생성 person = Person(first_name="hong", last_name="gildong") person.save()
# create() : Person.objects.create(first_name="", last_name="")
Person.objects.create(first_name="hong", last_name="gildong")

In [7]:
Person.objects.create(first_name="Sun", last_name="flower")
Person.objects.create(first_name="Kim", last_name="chulsu")

In [4]:
from app1.models import Person

# 전체 조회 : all()
qs = Person.objects.all()
qs

In [3]:
print(qs.query)

SELECT "person"."id", "person"."first_name", "person"."last_name", "person"."created_app" FROM "person"

In [5]:
# 하나 조회

Person.objects.get(id=1)

In [6]:
# 하나 조회

Person.objects.filter(id=1)

In [7]:
# like 

Person.objects.filter(first_name__contains='kim')

In [8]:
# Person.objects.get(id=5)
Person.objects.filter(id=5)

In [9]:
Person.objects.all()[1]

Person.objects.all()[:2]

In [10]:
# QuerySet => list 구조로 변환

list(Person.objects.all())

### Post 모델

In [13]:
from app1.models import Post

Post.objects.all()

In [14]:
# 전체 행 개수 조회

Post.objects.count()

3

In [15]:
# order_by(컬럼명) - 기본 오름차순

Post.objects.order_by("created_at")

In [17]:
# 내림차순

Post.objects.order_by("-created_at")

In [19]:
# exclude(조건) : 조건을 제외

Post.objects.exclude(id=3)

In [21]:
qs = Post.objects.all()

for row in qs:
    print(row.id, row.title, row.content)

1 changsub jungsanghwa
2 model2 model2 con
3 model3 model3 - con

In [22]:
# title에 특정 문자가 포함된 행 조회 : contains
Post.objects.filter(title__contains="model")

In [23]:
# title에 특정문자가 포함되고, 작성자가 model2인 행 조회
# 괄호 안에 1개 이상의 인자 지정하면 무조건 AND 개념임, OR 은 다른방식 사용
Post.objects.filter(title__contains="model", author_name="model2")

In [34]:
Post.objects.filter(title__contains="model").order_by("-created_at")

In [24]:
qs = Post.objects.all()
qs[0]

In [25]:
qs.get(id=1)

In [28]:
qs.first()

In [29]:
qs.last()